<div class="row m-0">

  <!-- Process -->
  <div class="col-md-8 p-0">
    <div style="background: #fffdfe;padding: 15px;box-shadow: 0 0 5px 0 #d2d1d1;border-radius: 5px;border: 1px solid #f7f7f7;">
      <div>
        <div>
          <h3>All Items</h3>
        </div>
        <div style="display: flex;flex-wrap: wrap;">
          <div *ngFor="let item of items" style="width: 100px;height: 100px;padding: 5px;">
            <div style="height: 100%;background: #444;color: #fff;cursor: pointer;">{{item.itemName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bill -->
  <div class="col-md-4">
    <div style="background: #fff;box-shadow: 0 0 5px 0 #d2d1d1;border-radius: 5px;border: 1px solid #f7f7f7;">
      <div class="text-center" style="padding: 15px;">
        <p style="font-size: 20px;margin:0;font-weight: 600;color: #696969;">Checkout</p>
      </div>
      <div style="background: #fff;width: 100%;min-height: 400px;" [formGroup]="form">
        <div class="checkout-item-header">
          <div class="item-num"></div>
          <div class="full-width">Item</div>
          <div class="full-width text-center">QTY</div>
          <div class="full-width text-right">Sub total (Rs.)</div>
        </div>

        <div formArrayName="items" style="min-height: 300px;max-height: 300px;overflow-y: auto;">
          <div class="checkout-item" *ngFor="let item of form.get('items').controls;let id = index;">
            <div class="item-num">
              <div class="middle-al">
                <span>
                  <i class="fa fa-minus-circle"></i>
                </span>
              </div>
            </div>
            <div class="full-width">
              <div class="middle-al">{{item.get('itemName').value}}</div>
            </div>
            <div class="full-width text-center">
              <app-ng-number-picker-circle  [numberForm]="item" [value]="item.get('quantity').value"></app-ng-number-picker-circle>
            </div>
            <div class="full-width text-right">
              <div class="middle-al">{{item.get('subTotal').value | currency : ' '}}</div>
            </div>
          </div>
        </div>

        <div style="height: 150px;background: #f9f9f9;margin: 0;">
          <div class="row m-0 p-0">
            <div class="col-md-6 ">Discount</div>
            <div class="col-md-6 p-10 text-right">
              <input type="text" formControlName="discount" class="text-right">
            </div>
          </div>
          <div class="row m-0 p-0" style="color: #7b7b7b;">
            <div class="col-md-6" style="font-weight: 600;font-size: 16px;">Sub total</div>
            <div class="col-md-6 text-right" style="font-weight: 600;font-size: 18px;">Rs. {{form.get('totalPrice').value | currency: ' '}}</div>
          </div>
          <div class="row m-0 p-0">
            <div class="col-md-6" style="font-size: 13px;">Tax (10 %)</div>
            <div class="col-md-6 text-right" style="font-size: 13px;">Rs. {{form.get('tax').value | currency: ' '}}</div>
          </div>


          <!-- Total -->
          <div class="row" style="padding: 10px 0;background: #ececec;margin: 10px 0 0 0;color: #404040;">
            <div class="col-md-6" style="font-weight: 600;font-size: 18px;">Total</div>
            <div class="col-md-6 text-right" style="font-weight: 600;font-size: 18px;">Rs. {{form.get('totalPrice').value | currency: ' '}}</div>
          </div>
        </div>

        <div class="text-center p-15">
          <button class="btn-suc-g full-width" style="text-transform: none;">Pay (Rs. {{13500 | currency : ' '}})</button>
        </div>
      </div>

    </div>
  </div>


</div>
