<div class="row m-0">

  <!-- Process -->
  <div class="col-md-8 p-0">
    <div class="fd-menu-div">
      <div>
        <div class="full-width" style="display: inline-flex;">
          <div style="width: 80%;">
            <p class="txt-fd-menu">Food Menu</p>
          </div>
          <div style="display: inline-flex;">
            <input type="text" class="itm-search" placeholder="search">
            <div class="search-ic">
              <div class="middle-al">
              <span>
                <i class="fa fa-search"></i>
              </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Categories -->
        <div class="fd-cat-list">
          <div class="fd-cat-list-inner">

          </div>
        </div>

        <div class="fd-menu-items">
          <div *ngFor="let item of items" class="menu-itm">
            <div class="itm text-center">
              <div>
                <div style="height: 100px;width: 100px;    margin: 0 auto;">
                  <img style="width: 100%;max-height: 100%;object-fit:cover;margin-top: 10px; " [src]="item.imageUrl">
                </div>
              </div>
              <div style="color: #636363">{{item.itemName}}</div>
            </div>
          </div>
        </div>

        <!-- Pagination -->
        <div>
          <!--<input type="checkbox">-->
          <app-simple-pagination></app-simple-pagination>
        </div>

      </div>
    </div>
  </div>

  <!-- Bill -->
  <div class="col-md-4">
    <div class="receipt-container">
      <div class="text-center p-15">
        <p class="rec-title">Checkout</p>
      </div>
      <div style="background: #fff;width: 100%;min-height: 400px;" [formGroup]="form">
        <div class="checkout-item-header">
          <div class="item-num"></div>
          <div class="full-width">Item</div>
          <div class="full-width text-center">QTY</div>
          <div class="full-width text-right">Sub total (Rs.)</div>
        </div>

        <div formArrayName="items" style="min-height: 250px;max-height: 250px;overflow-y: auto;">
          <div class="checkout-item" *ngFor="let item of form.get('items').controls;let id = index;">
            <div class="item-num">
              <div class="middle-al">
                <span>
                  <i class="fa fa-minus-circle"></i>
                </span>
              </div>
            </div>
            <div class="full-width">
              <div class="middle-al">{{item.get('itemName').value}}</div>
            </div>
            <div class="full-width text-center">
              <app-ng-number-picker-circle  [numberForm]="item" [value]="item.get('quantity').value"></app-ng-number-picker-circle>
            </div>
            <div class="full-width text-right">
              <div class="middle-al">{{item.get('subTotal').value | currency : ' '}}</div>
            </div>
          </div>
        </div>

        <div style="height: 150px;background: #f9f9f9;margin: 0;">
          <div class="row m-0 p-0">
            <div class="col-md-6 ">
              <div class="middle-al" style="font-size: 14px;font-weight: 600;">Discount</div>
            </div>
            <div class="col-md-6 p-10 text-right">
              <input type="text" formControlName="discount" class="text-right full-width">
            </div>
          </div>
          <div class="row m-0 p-0" style="color: #7b7b7b;">
            <div class="col-md-6" style="font-weight: 600;font-size: 16px;">Sub total</div>
            <div class="col-md-6 text-right" style="font-weight: 600;font-size: 18px;">Rs. {{form.get('totalPrice').value | currency: ' '}}</div>
          </div>
          <div class="row m-0 p-0">
            <div class="col-md-6 txt-tax">Tax (10 %)</div>
            <div class="col-md-6 text-right txt-tax-val">Rs. {{form.get('tax').value | currency: ' '}}</div>
          </div>

          <!-- Total -->
          <div class="row tot-val-div">
            <div class="col-md-6 txt-tot">Total</div>
            <div class="col-md-6 text-right txt-tot-val">Rs. {{form.get('totalPrice').value | currency: ' '}}</div>
          </div>
        </div>

        <div class="text-center p-15">
          <button class="btn-suc-g full-width btn-pay">Pay (Rs. {{13500 | currency : ' '}})</button>
        </div>
      </div>

    </div>
  </div>
</div>
