<div class="row m-0">

  <!-- Process -->
  <div class="col-md-8 p-0">

    <div>
      <div>
        <h3>All Items</h3>
      </div>
      <div style="display: flex;flex-wrap: wrap;">
        <div *ngFor="let item of items" style="width: 100px;height: 100px;padding: 5px;">
          <div style="height: 100%;background: #444;color: #fff;cursor: pointer;">{{item.itemName}}</div>
        </div>
      </div>
    </div>

    <div>
      <div>
        <h3>Selected Items</h3>
      </div>
      <div style="display: flex;flex-wrap: wrap;">
        <div *ngFor="let item of items" style="width: 100px;height: 100px;padding: 5px;">
          <div style="height: 100%;background: #444;color: #fff;cursor: pointer;">{{item.itemName}}</div>
        </div>
      </div>

    </div>

  </div>

  <!-- Bill -->
  <div class="col-md-4">
    <div style="background: #fff;">
      <div class="text-center" style="padding: 15px;">
        <p style="font-size: 20px;margin:0;font-weight: 400;">Checkout</p>
      </div>
      <div style="background: #fff;width: 100%;min-height: 400px;" [formGroup]="form">
        <div class="checkout-item-header">
          <div class="item-num">#</div>
          <div class="full-width">Item</div>
          <div class="full-width text-center">QTY</div>
          <div class="full-width text-right">Sub total (Rs.)</div>
        </div>

        <div formArrayName="items">

          <div class="checkout-item" *ngFor="let item of form.get('items').controls;let id = index;">
            <div class="item-num">
              <span>
                <i class="fa fa-minus-circle"></i>
              </span>
            </div>
            <div class="full-width">Item</div>
            <div class="full-width text-center">
              <app-ng-number-picker-circle  [numberForm]="item"></app-ng-number-picker-circle>
            </div>
            <div class="full-width text-right">{{250 | currency : ' '}}</div>
          </div>


        </div>

        <div style="height: 150px;background: #e4e4e4;">

        </div>

        <div class="text-center p-15">
          <button class="btn-suc-g full-width" style="text-transform: none;">Pay (Rs. {{13500 | currency : ' '}})</button>
        </div>
      </div>

    </div>
  </div>


</div>
