<div class="login-cont-div">
  <div class="row m-0">

    <!-- Advertisement side-->
    <div class="col-md-6 p-0">
      <div class="text-center p-30" style="margin: 100px auto;">
        <div style="margin-bottom: 25px;">
          <img style="width: 250px;" src="./assets/images/logo.png">
        </div>
        <h4>Inventory Management System</h4>
        <h6>We want to turn our inventory faster than our people</h6>
      </div>
    </div>

    <div class="col-md-6 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


