<div style="padding-left: 50px;padding-top: 100px; ">

  <!-- Business List -->
  <div class="row" style="padding-left: 100px;margin: 0;">
    <div class="bu-div">
      <div class="bu-item"  data-toggle="modal" data-target="#exampleModal">
        <div>
          <img src="./assets/images/add-new.png" class="logo-img">
        </div>
        <div style="font-size: 15px;font-weight: 600;color: #2a9a92;">
          Add new
        </div>
      </div>
    </div>
    <div *ngFor="let businessUnit of registeredBusinessList" class="bu-div">
      <div class="bu-item" style="">
        <div>
          <img src="./assets/images/default-logo-ic.png" class="logo-img">
        </div>
        <div style="font-size: 15px;font-weight: 600;color: #585858;">
          {{businessUnit.name}}
        </div>

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <h6>Add a new business</h6>
        </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p>Are your sure you want to add a new business into your business stack ?</p>
          <div class="text-center">
            <p class="m-0">Click Yes for create</p>
            <p>Click No for cancel</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addNewBusiness()">Yes</button>
      </div>
    </div>
  </div>
</div>
