<div>

  <div>
    <div class="text-center m-t-5">
      <h5 style="color: #03cece;">Company Logo</h5>
    </div>

    <div class="m-t-30">
      <!-- Logo Div -->
      <div class="text-center" style="width: 200px;height: 200px;border: 2px dashed #cacaca;margin: 0 auto;">
        <div style="transform: translateY(-50%);top: 50%;position: relative;">
          <div>
          <span style="font-size: 35px;color: #b7b7b7;">
            <i class="zmdi zmdi-cloud-upload"></i>
          </span>
          </div>
          <span>Upload logo</span>
        </div>
      </div>


    </div>

    <div class="m-t-10" style="position: fixed;bottom: 25px;">
      <button class="btn-suc" (click)="goToPage('BACK')">
        <span>
          <i class="fa fa-arrow-circle-left"></i>&nbsp;
        </span>
        <span>Back</span>
      </button> &nbsp;
      <button class="btn-suc" (click)="goToPage('NEXT')">
        <span>Next</span>
      </button>
    </div>
  </div>

</div>
