<div>

  <div [formGroup]="organizationForm">

    <div class="text-center m-t-5">
      <h5 style="color: #03cece;">Basic Information</h5>
    </div>

    <div >
      <div>
        <label class="m-0">Company name</label>
      </div>
      <div>
        <input type="text" formControlName="companyName" class="full-width" placeholder="Ex: Abc communication">
      </div>
    </div>

    <div class="m-t-10" >
      <div>
        <label class="m-0">Email address</label>
      </div>
      <div>
        <input type="text" formControlName="emailAddress" class="full-width" placeholder="abc@example.com">
      </div>
    </div>


    <div class="m-0 m-t-10 row ">

      <div class="col-md-6 p-0">
        <div class="p-r-5">
          <div>
            <label class="m-0">Admin name</label>
          </div>
          <div>
            <input type="text" formControlName="owner" class="full-width" placeholder="Adb admin">
          </div>
        </div>
      </div>

      <div class="col-md-6 p-0">
        <div >
          <div>
            <label class="m-0">Contact number</label>
          </div>
          <div>
            <input type="text" formControlName="contactNumber" class="full-width" placeholder="07X-XXXXXXX">
          </div>
        </div>
      </div>
    </div>

    <div class="m-t-10">
      <div>
        <label class="m-0">Address </label>
      </div>
      <div>
        <input type="text" formControlName="userName" class="full-width m-b-5" placeholder="Address line 1">
        <input type="text" formControlName="userName" class="full-width m-b-5" placeholder="Street">
        <input type="text" formControlName="userName" class="full-width m-b-5" placeholder="City">
      </div>
    </div>



    <div class="m-t-10" style="position: fixed;bottom: 25px;">
      <button class="btn-err">Reset</button> &nbsp;
      <button class="btn-suc" (click)="saveAndNext()">
        <span>Next</span>
        <span>
          &nbsp;<i class="fa fa-arrow-circle-right"></i>&nbsp;
        </span>
      </button>
    </div>

  </div>







</div>
