<div>

  <div class="col-md-8" style="margin: 0 auto;">

    <!-- Step Viewer-->
    <div class="m-t-10 full-width">
      <div class="w-inner-div">
        <div [class]="step == 1 ? 'w-s-active w-step': 'w-step' ">
          <div style="width:100%;padding: 15px;display: flex;">
            <div class="w-s-i">
              <div class="indicator-id">1</div>
            </div>
            <div>
              <p class="w-s-l">Basic Details</p>
            </div>
          </div>
          <div style="width: 1px;background: #dfdfdf;"></div>
        </div>

        <div [class]="step == 2 ? 'w-s-active w-step': 'w-step' ">
          <div style="width:100%;padding: 15px;display: flex;">
            <div class="w-s-i">
              <div class="indicator-id">2</div>
            </div>
            <div>
              <p class="w-s-l">Company Logo</p>
            </div>
          </div>
          <div style="width: 1px;background: #dfdfdf;"></div>
        </div>

        <div [class]="step == 3 ? 'w-s-active w-step': 'w-step' ">
          <div style="width:100%;padding: 15px;display: flex;">
            <div class="w-s-i">
              <div class="indicator-id">3</div>
            </div>
            <div>
              <p class="w-s-l">Subscription Details</p>
            </div>
          </div>
          <div style="width: 1px;background: #dfdfdf;"></div>
        </div>

        <div [class]="step == 4 ? 'w-s-active w-step': 'w-step' ">
          <div style="width:100%;padding: 15px;display: flex;">
            <div class="w-s-i">
              <div class="indicator-id">4</div>
            </div>
            <div>
              <p class="w-s-l">Summary</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7" style="margin: 0 auto;">
      <app-organization-register (stepStatus)="getStepStatus($event)" *ngIf="step == 1 "></app-organization-register>
      <app-organiation-wizard-subscription-plan *ngIf="step == 3 " (stepStatus)="getStepStatus($event)"></app-organiation-wizard-subscription-plan>
      <app-organization-wizard-summary *ngIf="step == 4 " (stepStatus)="getStepStatus($event)"></app-organization-wizard-summary>
      <app-organization-logo-upload *ngIf="step == 2 " (stepStatus)="getStepStatus($event)"></app-organization-logo-upload>
    </div>
  </div>

</div>
