button
  height: 35px
  border: 1px solid #cecece
  font-size: 14px
  text-transform: uppercase
  padding: 0 15px !important
  border-radius: 2px !important
  min-width: 80px
  font-weight: 500 !important

.btn-suc
  background-color: #03cece
  border-color: #03cece
  color: #fff

.btn-suc:hover
  background-color: #03d7d7
  border-color: #03d7d7

.btn-err
  background-color: #ce6c73
  border-color: #ce6c73
  color: #fff

