table
  thead
    background: #31495f
    font-size: 13px
    color: #fff
    tr
      th
        padding: 8px
        font-weight: 500
        border: none
  tbody
    font-size: 13px
    tr
      td
        border: none
        padding: 5px !important
