<div class="text-center p-30 col-md-7 login-div">
  <div class="m-t-15 m-b-15">
    <h5 class="login-title">FORGOT PASSWORD</h5>
  </div>
  <div>
    <div class="m-t-30 pos-rel">
            <span class="pos-ab un-ic">
              <i class="zmdi zmdi-account"></i>
            </span>
      <input type="text" placeholder="Email address / Mobile number"
             class="full-width" style="padding-left: 30px;background: #f7f7f7;">
    </div>

    <div class="m-t-20">
      <button class="full-width btn-suc">Send Reset Link</button>
    </div>

    <div class="m-t-10">
      <span style="font-size: 13px;margin-left: 10px;">Already a member ? <a href="#" routerLink="/login">Login</a></span>
      <span> | </span>
      <span style="font-size: 13px;margin-left: 10px;">Not a member ? <a href="#" routerLink="/sign-up">Sign up</a></span>
    </div>
  </div>
</div>
