<div class="side-nav-div">

  <ul class="menu-ul" style="">
    <li>
      <span>
        <i class="zmdi zmdi-view-dashboard"></i>

      </span>
    </li>
    <li >
      <span>
        <i class="fa fa-gear"></i>
      </span>
    </li>
    <li style="position: relative">
      <span>
        <i class="fa fa-bell-o"></i>
        <div style="position: absolute;
top: 0;
right: 0;
width: 20px;
height: 20px;
background: #fb67ba;
border-radius: 25px;
font-size: 12px;
font-weight: 600;">
          1
        </div>
      </span>
    </li>
    <li >
      <span>
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
      </span>
    </li>
    <li >
      <span>
        <i class="fa fa-calculator" aria-hidden="true"></i>
      </span>
    </li>
    <li >
      <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </span>
    </li>
    <li >
      <span>
        <i class="fa fa-rss" aria-hidden="true"></i>
      </span>
    </li>
    <li >
      <span>
        <i class="fa fa-wrench" aria-hidden="true"></i>
      </span>
    </li>
  </ul>

</div>
