<div class="side-nav-div">

  <ul class="menu-ul">
    <li [class]="activeMenu == 'm1' ? 'active mi': 'mi'" id="m1" routerLink="/dashboard">
      <span>
        <i class="zmdi zmdi-view-dashboard"></i>
      </span>
    </li>
    <li [class]="activeMenu == 'm2' ? 'active mi': 'mi'" id="m2" routerLink="/settings">
      <span>
        <i class="fa fa-gear"></i>
      </span>
    </li>
    <li [class]="activeMenu == 'm3' ? 'active mi': 'mi'" id="m3" style="position: relative" routerLink="/notification">
      <span>
        <i class="fa fa-bell-o"></i>
        <div class="notification-badge">
          1
        </div>
      </span>
    </li>
    <li [class]="activeMenu == 'm4' ? 'active mi': 'mi'" id="m4" routerLink="/chart">
      <span>
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
      </span>
    </li>
    <li [class]="activeMenu == 'm5' ? 'active mi': 'mi'" id="m5" routerLink="/sales">
      <span>
        <i class="fa fa-calculator" aria-hidden="true"></i>
      </span>
    </li>
    <li [class]="activeMenu == 'm6' ? 'active mi': 'mi'" id="m6">
      <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </span>
    </li>
    <li [class]="activeMenu == 'm7' ? 'active mi': 'mi'" id="m7">
      <span>
        <i class="fa fa-rss" aria-hidden="true"></i>
      </span>
    </li>
    <li [class]="activeMenu == 'm8' ? 'active mi': 'mi'" id="m8">
      <span>
        <i class="fa fa-wrench" aria-hidden="true"></i>
      </span>
    </li>
  </ul>

</div>
