<div class="p-15">


  <div class="chat-layout">

    <div class="contacts">
      <div (click)="expandOrCollapse()" class="chat-list-ctrl">
        <div class="middle-al text-center" style="font-size: 18px;">
          <span>
            <i class="fa fa-sliders" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <div class="onl-chatter" *ngFor="let chatter of onlineChatters">
        <div class="chatter-rc-ind">
          <div class="middle-al">
            <span>S</span>
          </div>
          <div class="onl-status-ind">
          </div>
        </div>
      </div>
      <div (click)="expandOrCollapseContacts()" class="chat-box-ctrl">
        <div class="middle-al text-center" style="font-size: 18px;">
          <span>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </span>
        </div>
      </div>

    </div>

    <!-- Chat div -->
    <div class="full-width full-height" style="position: relative;">
      <div class="chatter-inf">
        <div style="display: inline-flex;width: 100%;height: 100%;">
          <div style="width: 50px;">
            <div class="chatter-rc-ind middle-al">
              <div class="middle-al">
                <span>S</span>
              </div>
            </div>
          </div>
          <div>
            <div class="middle-al" style="padding: 0 10px;">
              <p class="em-bd-sender">Shanaka Madushanka</p>
              <p class="em-bd-rs">
                <span class="status-badge">Online</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="chat-cont-div" class="full-height p-5 chat-cont-div" style="position: absolute;
    top: 50px;
    bottom: 160px;
    overflow-y: auto;">
        <!-- msg -->
        <div *ngFor="let message of messageThread" [class]="message.type == 'L' ? 'msg-body m-left' : 'msg-body m-right'">
          {{message.message}}
        </div>


      </div>

      <div class="full-width full-height p-5" >
        <div class="text-inp-area full-width">
          <textarea [(ngModel)]="chatMessage" class="full-width full-height inp-txt-area" placeholder="Enter text here ..."></textarea>
          <button class="btn-suc-g full-width" (click)="sendMessage()">
            <span>Send</span>
            <span class="m-l-10">
            <i class="fa fa-paper-plane-o"></i>
          </span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
