<div class="text-center p-30 col-md-7 login-div">
  <div class="m-t-15 m-b-15">
    <h5 class="login-title">USER REGISTRATION</h5>
  </div>
  <div>
    <div class="m-t-30 pos-rel">
            <span class="pos-ab un-ic">
              <i class="zmdi zmdi-account"></i>
            </span>
      <input type="text" placeholder="Full name"
             class="full-width" style="padding-left: 30px;background: #f7f7f7;">
    </div>

    <div class="m-t-10 pos-rel">
            <span class="pos-ab un-ic">
              <i class="zmdi zmdi-phone"></i>
            </span>
      <input type="text" placeholder="Contact number"
             class="full-width" style="padding-left: 30px;background: #f7f7f7;">
    </div>

    <div class="m-t-10 pos-rel">
            <span class="pos-ab un-ic">
              <i class="zmdi zmdi-account"></i>
            </span>
      <input type="text" placeholder="Username"
             class="full-width" style="padding-left: 30px;background: #f7f7f7;">
    </div>
    <div class="m-t-10 pos-rel">
            <span class="pos-ab un-ic">
              <i class="fa fa-key"></i>
            </span>
      <input type="password" placeholder="Password"
             class="full-width" style="padding-left: 30px;background: #f7f7f7;">
    </div>
    <div class="m-t-20">
      <button class="full-width btn-suc">Register</button>
    </div>

    <div class="m-t-10">
      <span style="font-size: 13px;margin-right: 10px;"><a href="#" routerLink="/forgot-password">Forgot password ?</a></span>
      <span> | </span>
      <span style="font-size: 13px;margin-left: 10px;">Already a member ? <a href="#" routerLink="/login">Login</a></span>
    </div>
  </div>
</div>


