<div>

  <div>
    <div class="text-center m-t-5">
      <h5 style="color: #03cece;">Summary</h5>
    </div>

    <div>
      <label>Company Name: </label>
      <span>Test</span>
    </div>


    <div class="m-t-10" style="position: fixed;bottom: 25px;">
      <button class="btn-suc" (click)="goToPage('BACK')">
        <span>
          <i class="fa fa-arrow-circle-left"></i>&nbsp;
        </span>
        <span>Back</span>
      </button> &nbsp;
      <button class="btn-suc" (click)="goToPage('NEXT')">
        <span>Finish</span>
      </button>
    </div>

  </div>

</div>
